<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
>
    <resources>

        <cfg:extensiongroups>
            <cfg:extensiongroup name="DXA.CM.Extensions.CustomResolver.Editors.Extensions">
                <cfg:extension target="SDL.Web.UI.Editors.CME.Views.Dashboard">
                    <cfg:insertafter>DXA.CM.Extensions.CustomResolver.Editors</cfg:insertafter>
                </cfg:extension>
            </cfg:extensiongroup>
        </cfg:extensiongroups>

        <cfg:groups>
            <cfg:group name="DXA.CM.Extensions.CustomResolver.Editors">
                <cfg:fileset>
                </cfg:fileset>
                <cfg:dependencies>
                    <cfg:dependency>DXA.CM.Extensions.CustomResolver.Editors.Commands</cfg:dependency>
                    <cfg:dependency>DXA.CM.Extensions.CustomResolver.Editors.Constants</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>

            <cfg:group name="DXA.CM.Extensions.CustomResolver.Editors.RibbonExtension">
                <cfg:fileset>
                    <cfg:file type="style">{ThemePath}/Views/Styles.css</cfg:file>
                    <cfg:file type="reference">DXA.CM.Extensions.CustomResolver.Editors.CommandSet</cfg:file>
                </cfg:fileset>
            </cfg:group>

            <cfg:group name="DXA.CM.Extensions.CustomResolver.Editors.Commands">
                <cfg:fileset>
                    <cfg:file type="script">/Commands/ShowSettings.js</cfg:file>
                </cfg:fileset>
                <cfg:dependencies>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>

            <cfg:group name="DXA.CM.Extensions.CustomResolver.Editors.Views.Popups.Settings">
                <cfg:fileset>
                    <cfg:file type="script">/Views/Popups/Settings/Settings.js</cfg:file>
                    <cfg:file type="style">/Views/Popups/Settings/Settings.css</cfg:file>
                </cfg:fileset>
                <cfg:dependencies>
                    <cfg:dependency>SDL.Web.UI.Editors.Base.Views.ViewBase</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>

            <cfg:group name="DXA.CM.Extensions.CustomResolver.Editors.Constants">
                <cfg:fileset>
                    <cfg:file type="script">/Constants/Global.js</cfg:file>
                    <cfg:file type="script">/Constants/Popups.js</cfg:file>
                </cfg:fileset>
                <cfg:dependencies>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>
        </cfg:groups>
    </resources>
    <definitionfiles/>
    <extensions>
        <ext:editorextensions>
            <ext:editorextension target="CME">
                <ext:editurls/>
                <ext:listdefinitions/>
                <ext:taskbars/>
                <ext:commands/>
                <ext:commandextensions/>
                <ext:contextmenus/>
                <ext:lists/>
                <ext:deckpages/>
                <ext:tabpages/>
                <ext:toolbars/>
                <ext:ribbontoolbars>
                    <ext:add>
                        <ext:extension pageid="AdministrationPage" groupid="{Resources: DXA.CM.Extensions.CustomResolver.Editors.Strings, CR_DXAResolver}" name="{Resources: DXA.CM.Extensions.CustomResolver.Editors.Strings, CR_ShowSettings}" assignid="CR_ShowSettings">
                            <ext:command>CRShowSettings</ext:command>
                            <ext:title>{Resources: DXA.CM.Extensions.CustomResolver.Editors.Strings, CR_ShowSettingsDialog}</ext:title>
                            <ext:dependencies>
                                <cfg:dependency>DXA.CM.Extensions.CustomResolver.Editors.RibbonExtension</cfg:dependency>
                                <cfg:dependency>DXA.CM.Extensions.CustomResolver.Editors.Constants</cfg:dependency>
                            </ext:dependencies>
                            <ext:apply>
                                <ext:view name="DashboardView">
                                    <ext:control id="DashboardToolbar"/>
                                </ext:view>
                            </ext:apply>
                        </ext:extension>
                    </ext:add>
                </ext:ribbontoolbars>
                <ext:optionspanels/>
            </ext:editorextension>
        </ext:editorextensions>

        <ext:dataextenders/>

    </extensions>

    <commands>
        <cfg:commandset id="DXA.CM.Extensions.CustomResolver.Editors.CommandSet">
            <cfg:command name="CRShowSettings" implementation="DXA.CM.Extensions.CustomResolver.Editors.Commands.ShowSettings" />

            <cfg:dependencies>
                <cfg:dependency>DXA.CM.Extensions.CustomResolver.Editors.Commands</cfg:dependency>
            </cfg:dependencies>
        </cfg:commandset>

    </commands>
    <!--
		The SDL Tridion GUI allows for context menu's to have 'external definitions', which can be used by referencing
		their configuration name in the views (aspx page)
		Below are the standard context menus as delivered by SDL Tridion
	-->
    <contextmenus/>
    <widgetsviews/>

    <localization>

        <cfg:clientresource servertype="DXA.CM.Extensions.CustomResolver.Editors.Resources.DXA.CM.Extensions.CustomResolver.Editors.Strings, DXA.CM.Extensions.CustomResolver.Editors" clientname="DXA.CM.Extensions.CustomResolver.Editors.Strings" />
    </localization>
    <settings>
        <dependencies>
            <editor>CME</editor>
        </dependencies>
        <defaultpage/>
        <editurls>
        </editurls>
        <listdefinitions/>
        <itemicons/>
        <theme>
            <path>/Themes/Carbon2</path>
        </theme>
        <resourceextensions>
            <resourceextension>DXA.CM.Extensions.CustomResolver.Editors.Extensions</resourceextension>
        </resourceextensions>
        <customconfiguration/>
    </settings>

</Configuration>