<configuration>
  <configSections>
    <section name="signalrBackplaneHub" type="Sdl.Web.Notification.Common.Configuration.SignalrBackplaneHubConfiguration, Sdl.Web.Notification.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="database" type="Tridion.ContentManager.Data.AdoNet.Sql.Configuration.SqlDbConfiguration, Tridion.ContentManager.Data.AdoNet.Sql, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=349a39f202fa9b53" />
    <section name="tridion.common" type="Tridion.Configuration.CommonSettings, Tridion.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=349a39f202fa9b53" />
    <section name="templateTypeRegistry" type="Tridion.ContentManager.TemplateTypes.Configuration.TemplateTypeRegistry, Tridion.ContentManager.TemplateTypes, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="typeRegistry" type="Tridion.ContentManager.TypeRegistration.Configuration.TypeRegistrySection, Tridion.ContentManager.TypeRegistration, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="resolving" type="Tridion.ContentManager.Publishing.Resolving.Configuration.ResolvingConfiguration, Tridion.ContentManager.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="rendering" type="Tridion.ContentManager.Publishing.Rendering.Configuration.RenderingConfiguration, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="publisher" type="Tridion.ContentManager.Publishing.Publisher.Configuration.PublisherConfiguration, Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="transporting" type="Tridion.ContentManager.Publishing.Transporting.Configuration.TransportPackageConfiguration, Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="search" type="Tridion.ContentManager.Search.Configuration.SearchConfiguration, Tridion.ContentManager.Search, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="searchIndexer" type="Tridion.ContentManager.Search.Indexing.SearchIndexer.Configuration.SearchIndexerConfiguration, Tridion.ContentManager.Search.Indexing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="batching" type="Tridion.ContentManager.Batching.Configuration.BatchConfiguration, Tridion.ContentManager.Batching, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="importExport" type="Tridion.ContentManager.ImportExport.Configuration.ImportExportConfiguration, Tridion.ContentManager.ImportExport, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="tridion.contentmanager.security" type="Tridion.ContentManager.Security.Configuration.ContentManagerSecurityConfiguration, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="tridion.security" type="Tridion.Security.Configuration.SecurityConfiguration, Tridion.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=349a39f202fa9b53" />
    <section name="tridion.templating" type="Tridion.ContentManager.Templating.Configuration.TemplatingSettings, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="queuing" type="Tridion.ContentManager.Queuing.Configuration.QueuingConfiguration, Tridion.ContentManager.Queuing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="workflow" type="Tridion.ContentManager.Workflow.Configuration.WorkflowConfiguration, Tridion.ContentManager.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="eventSystem" type="Tridion.ContentManager.Extensibility.Configuration.EventSystemConfiguration, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="extensions" type="Tridion.ContentManager.Extensibility.Configuration.ExtensionsConfiguration, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="tridion.contentmanager" type="Tridion.ContentManager.Configuration.GeneralConfiguration, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="binaryContentStorage" type="Tridion.ContentManager.Configuration.FileSystemBinaryContentStorageSettings, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="permanentContentStorage" type="Tridion.ContentManager.Configuration.DatabasePermanentContentStorageSettings, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
    <section name="csharpSourceCodeReferences" type="Tridion.ContentManager.CSharpSourceCodeReferencesConfiguration, Tridion.ContentManager.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    <section name="ugc" type="Tridion.UGC.DataSourceUtils.DataSourceConfigSection, Tridion.UGC.DataSourceUtils, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="TridionRsaProtectedConfigurationProvider" keyContainerName="TridionRsaKeyContainer" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <signalrBackplaneHub messageBusType="Microsoft.AspNet.SignalR.SqlServer.SqlMessageBus" scaleoutConfigurationType="Microsoft.AspNet.SignalR.SqlScaleoutConfiguration" assembly="Microsoft.AspNet.SignalR.SqlServer, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  <database server="cm.dev.dxa.sdldev.net" name="Tridion_CM" username="Tridion_CM_User"
    password="Tr1dionUser" authenticationMethod="Normal" />
  <tridionConfigSections>
    <sections>
      <clear />
      <add />
      <add name="loggingConfiguration" />
    </sections>
  </tridionConfigSections>
  <tridion.common>
    <localization loggingCulture="en-us">
      <resources>
        <add baseName="Tridion.ContentManager.Localization.Resources" assembly="Tridion.ContentManager.Localization, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        <add baseName="Tridion.ContentManager.ImportExport.Resources" assembly="Tridion.ContentManager.ImportExport.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        <add baseName="Tridion.Web.UI.CME.TcmExtensions.Resources.Tridion.Web.UI.CME.TcmExtensions.Strings" assembly="Tridion.Web.UI.CME.TcmExtensions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=DDFC895746E5EE6B" />
        <add baseName="Tridion.TranslationManager.TcmWorkflowScriptType.Properties.Resources" assembly="Tridion.TranslationManager.TcmWorkflowScriptType, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        <add baseName="Tridion.Extensions.ContextExpressions.Localization.Resources" assembly="Tridion.Extensions.ContextExpressions.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </resources>
    </localization>
    <tracing>
      <parameterValueTruncation default="50">
        <parameterTypes>
          <clear />
          <!-- Do not remove or change the settings for type System.Data.IDataRecord -->
          <add type="System.Data.IDataRecord" assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" maxLength="0" />
        </parameterTypes>
      </parameterValueTruncation>
    </tracing>
  </tridion.common>
  <templateTypeRegistry>
    <templateTypes>
      <clear />
      <!-- To avoid collisions between custom template id and system template id in next versions, please use id numbers starting from 100 for custom templates. -->
      <add id="4" name="CompoundTemplate" titleResource="lblCompoundTemplate" mimeType="text/x-tcm-compound" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Compound.CompoundTemplateContentHandler, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="ComponentTemplate" fileExtension="tctcmp" />
          <add itemType="PageTemplate" fileExtension="tptcmp" />
          <add itemType="TemplateBuildingBlock" fileExtension="tbbcmp" />
        </webDavFileExtensions>
      </add>
      <add id="5" name="AssemblyTemplate" titleResource="lblAssemblyTemplate" mimeType="application/x-tcm-assembly" hasBinaryContent="true" contentHandler="Tridion.ContentManager.Templating.Assembly.AssemblyContentHandler, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="tbbasm" />
        </webDavFileExtensions>
      </add>
      <add id="6" name="CSharpTemplate" titleResource="lblCSharpTemplate" mimeType="text/x-tcm-csharpfragment" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Assembly.CSharpSourceCodeContentHandler, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="tbbcs" />
        </webDavFileExtensions>
      </add>
      <add id="7" name="DreamweaverTemplate" titleResource="lblDreamweaverTemplate" mimeType="text/x-tcm-dreamweaver" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Dreamweaver.DreamweaverContentHandler, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="dwt" />
        </webDavFileExtensions>
      </add>
      <add id="10" name="XsltTemplate" titleResource="lblXsltTemplate" mimeType="text/xsl" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Xslt.XsltTemplateContentHandler, Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="xslt" />
        </webDavFileExtensions>
      </add>
    </templateTypes>
  </templateTypeRegistry>
  <loggingConfiguration name="Logging Application Block" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Tridion Console Trace Listener" formatter="Trace Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Tridion.Logging.TridionConsoleTraceListener, Tridion.Logging, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" initializeData="" />
      <add name="Tridion Debug Trace Listener" formatter="Trace Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Tridion.Logging.TridionDebugTraceListener, Tridion.Logging, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" initializeData="" />
      <add name="Tridion Event Log" EventLog="Tridion" formatter="Event Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Tridion.Logging.TridionEventLogTraceListener, Tridion.Logging, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" initializeData="" />
      <add name="Log File" fileName="C:\Tridion\log\Tridion.ContentManager.log" formatter="Log Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Import Export Log File" fileName="C:\Tridion\log\ImportExport_IISHost.log" formatter="Log Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </listeners>
    <formatters>
      <add name="Log Text Formatter" template="{timestamp} &lt;{win32ThreadId}&gt; {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Trace Text Formatter" template="{timestamp(HH:mm:ss.ffff)} &lt;{win32ThreadId}&gt; {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Event Text Formatter" template="{message}{newline}{newline}Component: {keyvalue(component)}{newline}Errorcode: {keyvalue(errorcode)}{newline}User: {keyvalue(username)}{newline}{newline}{keyvalue(stacktrace)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General" />
      <!-- Uncomment sources below for enabling Import Export logging. -->
      <!--
      <add switchValue="All" name="Tridion.ContentManager.LogCategory.ImportExport">
        <listeners>
          <add name="Import Export Log File" />
        </listeners>
      </add>
       -->
    </categorySources>
    <specialSources>
      <allEvents switchValue="Warning" name="All Events">
        <listeners>
          <add name="Tridion Event Log" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <resolving>
    <mappings>
      <clear />
      <add itemType="Tridion.ContentManager.CommunicationManagement.Page">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PageResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
          <add type="Sdl.Web.DXAResolver.Resolver" assembly="Sdl.Web.DXAResolver, Version=2.1.0.26, Culture=neutral, PublicKeyToken=b9a30ebcbde732e4" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.PageTemplate">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PageTemplateResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Component">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.ComponentResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
          <add type="Sdl.Web.DXAResolver.Resolver" assembly="Sdl.Web.DXAResolver, Version=2.1.0.26, Culture=neutral, PublicKeyToken=b9a30ebcbde732e4" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.ComponentTemplate">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.ComponentTemplateResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
          <add type="Sdl.Web.DXAResolver.Resolver" assembly="Sdl.Web.DXAResolver, Version=2.1.0.26, Culture=neutral, PublicKeyToken=b9a30ebcbde732e4" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.Publication">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PublicationResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
          <add type="Tridion.Extensions.ContextExpressions.ContextExpressionContainerResolver" assembly="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.StructureGroup">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.StructureGroupResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Category">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.CategoryResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Bundle">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.BundleResolver" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.AudienceManagement.TargetGroup">
        <resolvers>
          <add type="Tridion.Extensions.ContextExpressions.ContextExpressionResolver" assembly="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Folder">
        <resolvers>
          <add type="Tridion.Extensions.ContextExpressions.ContextExpressionContainerResolver" assembly="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        </resolvers>
      </add>
    </mappings>
  </resolving>
  <rendering previewPath="C:\Tridion\web\Preview\">
    <cache maxObjects="-1" defaultMaxObjectsPerRegion="50">
      <regions>
        <add name="Component" maxObjects="500" />
      </regions>
    </cache>
    <renderers>
      <add type="Tridion.ContentManager.Templating.TemplatingRenderer" assembly="Tridion.ContentManager.Templating, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
      <add type="Tridion.ContentManager.Publishing.Rendering.TaxonomyRenderer" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
      <add type="Tridion.ContentManager.Publishing.Rendering.StructureGroupRenderer" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
      <add type="Tridion.ContentManager.Publishing.Rendering.BundleRenderer" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
      <add type="Tridion.ContentManager.Publishing.Rendering.TemplateRenderer" assembly="Tridion.ContentManager.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b" />
      <add type="Tridion.Extensions.ContextExpressions.ContextExpressionRenderer" assembly="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      <add type="Tridion.SmartTarget.Publishing.Rendering.SmartTargetRenderer" assembly="Tridion.SmartTarget.Publishing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    </renderers>
  </rendering>
  <publisher cacheLifetime="PublishTransaction" heartbeatTimeout="300" waitForOfflineCdEnvironmentInMin="360">
    <threading renderThreadCount="8" deployThreadCount="4" />
    <mappings>
      <clear />
      <add publishInstructionType="Tridion.ContentManager.Publishing.PublishInstruction">
        <publishTransactionHandlers>
          <add type="Tridion.ContentManager.Publishing.Handling.DefaultPublishTransactionHandler" assembly="Tridion.ContentManager.Publishing.Handling, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        </publishTransactionHandlers>
      </add>
      <add publishInstructionType="Tridion.ContentManager.Publishing.UnPublishInstruction">
        <publishTransactionHandlers>
          <add type="Tridion.ContentManager.Publishing.Handling.DefaultPublishTransactionHandler" assembly="Tridion.ContentManager.Publishing.Handling, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
        </publishTransactionHandlers>
      </add>
    </mappings>
  </publisher>
  <transporting rootStorageFolder="C:\Tridion\temp">
    <mappings>
      <!-- For mapped types: if the type resides in the Tridion.ContentManager.dll, the attribute 'assembly' can be omitted. -->
      <!-- The 'itemType' attribute may contain the reference to assembly where the type resides. In this case, the attribute 'assembly' is not needed. -->
      <!-- For handlers: if handler resides in the current assembly, (that is, is the default handler), the attribute 'assembly' can be omitted. -->
      <clear />
      <add itemType="Tridion.ContentManager.CommunicationManagement.Page, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultPageHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Component, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultComponentHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.Publishing.Rendering.Binary, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultBinaryHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Schema" assembly="Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultSchemaHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.Template">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultTemplateHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Category">
        <handler type="Tridion.ContentManager.Publishing.Transporting.TaxonomyTransportPackageHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.StructureGroup, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.ContentManager.Publishing.Transporting.DefaultStructureGroupHandler" assembly="Tridion.ContentManager.Publishing.Transporting, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
      <add itemType="Tridion.ContentManager.AudienceManagement.TargetGroup, Tridion.ContentManager, Version=9.0.0.0, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <handler type="Tridion.Extensions.ContextExpressions.ContextExpressionTransportPackageHandler" assembly="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      </add>
    </mappings>
  </transporting>
  <search hostUrl="http://cm.dev.dxa.sdldev.net:8983/tridion" hostUsername="dxadevt9\vagrant"
    hostPassword="vagrant" />
  <searchIndexer heartbeatTimeout="300" indexingThreadCount="1"
    hostUrl="http://cm.dev.dxa.sdldev.net:8983/tridion" hostUsername="dxadevt9\vagrant"
    hostPassword="vagrant">
    <searchIndexingHandlers>
      <add type="Tridion.ContentManager.Search.Indexing.Handling.DefaultSearchIndexingHandler"
        assembly="Tridion.ContentManager.Search.Indexing, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    </searchIndexingHandlers>
  </searchIndexer>
  <batching heartbeatTimeout="300" queuingThreadCount="1" batchingThreadCount="1" administratorUserName="dxadevt9\vagrant">
    <batchInvokers>
      <add type="Tridion.ContentManager.Batching.BatchCoreServiceInvoker" assemblyName="Tridion.ContentManager.Batching, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      <add assemblyFileName="C:\Tridion\bin\Tridion.AudienceManagement.Batching.dll" type="Tridion.AudienceManagement.Batching.Invoker" />
    </batchInvokers>
  </batching>
  <importExport maxProcessCount="1" workingFolder="C:\Tridion\ImportExport\Temp" processLogLocation="C:\Tridion\log\ImportExport" transactionTimeout="0" userReplyTimeout="3600">
    <export threadCount="1" packagesLocation="C:\Tridion\ImportExport\Packages" />
    <undo undoPackagesLocation="C:\Tridion\ImportExport\UndoPackages" />
  </importExport>
  <tridion.templating cmePreviewUrl="/WebUI/Editors/CME/Views/Popups/Preview/Preview.aspx">
    <debugging pdbDirectory="C:\Tridion\Temp\" force32Bit="false" />
    <mediators>
      <mediator matchMIMEType="application/x-tcm-assembly" type="Tridion.ContentManager.Templating.Assembly.AssemblyMediator" />
      <mediator matchMIMEType="text/x-tcm-dreamweaver" type="Tridion.ContentManager.Templating.Dreamweaver.DreamweaverMediator" />
      <mediator matchMIMEType="text/x-tcm-compound" type="Tridion.ContentManager.Templating.Compound.CompoundTemplateMediator" />
      <mediator matchMIMEType="text/x-tcm-csharpfragment" type="Tridion.ContentManager.Templating.Assembly.CSharpSourceCodeMediator" />
      <mediator matchMIMEType="text/xsl" type="Tridion.ContentManager.Templating.Xslt.XsltMediator" />
    </mediators>
    <functionSources>
      <functionSource type="Tridion.ContentManager.Templating.Expression.BuiltInFunctions" />
      <functionSource type="Tridion.ExternalContentLibrary.Templating.V2.ExternalContentLibraryFunctionSource" assembly="Tridion.ExternalContentLibrary.Templating.V2, Version=7.1.0.103, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    </functionSources>
    <defaultTemplatesScripts>
      <defaultTemplatesScript scriptFile="SetupDefaultTemplates.xml" />
      <defaultTemplatesScript scriptFile="SetupSiteEdit2012Templates.xml" />
      <defaultTemplatesScript scriptFile="SetupAudienceManagerTemplates.xml" />
      <defaultTemplatesScript scriptFile="SetupUserGeneratedContentTemplates.xml" />
      <defaultTemplatesScript scriptFile="SetupExternalContentLibraryTemplates.xml" />
      <defaultTemplatesScript scriptFile="SetupContextExpressionTemplates.xml" />
      <defaultTemplatesScript scriptFile="SetupSmartTargetTemplates.xml" />
    </defaultTemplatesScripts>
  </tridion.templating>
  <typeRegistry>
    <publicationTypes>
      <!-- 
      Constraints: 
          1) id and name attribute is unique. 
          2) id > 1024. Numbers below 1024 are reserved.
          3) titleResource is optional. if titleResource is not provided then the value specified in name will be used as PublicationType.Title
      -->
      <add id="1" name="Content" titleResource="lblContentPublicationType" />
      <add id="2" name="Web" titleResource="lblWebPublicationType" />
      <add id="4" name="Mobile" titleResource="lblMobilePublicationType" />
      <add id="5" name="SiteType" titleResource="lblSiteTypePublicationType" />
      <add id="3" name="Email" titleResource="lblOutboundEmailPublicationType" />
    </publicationTypes>
    <workflowScriptTypes>
      <add name="CSharp" titleResource="msgCSharpWorkflowScriptType" scriptContentHandlerType="Tridion.ContentManager.Workflow.CSharpScriptContentHandler" executorType="Tridion.ContentManager.Workflow.CSharpScriptExecutor" assemblyName="Tridion.ContentManager.Workflow, Version=9.0.0.0,  Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      <add name="ExternalActivity" titleResource="msgExternalActivityScriptType" scriptContentHandlerType="Tridion.ContentManager.Workflow.ExternalActivityScriptContentHandler" executorType="Tridion.ContentManager.Workflow.ExternalActivityExecutor" assemblyName="Tridion.ContentManager.Workflow, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
      <add name="TranslationManagerActivity" titleResource="TMSctriptTypeName" scriptContentHandlerType="Tridion.TranslationManager.TcmWorkflowScriptType.Handler" executorType="Tridion.TranslationManager.TcmWorkflowScriptType.Executor" assemblyName="Tridion.TranslationManager.TcmWorkflowScriptType, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" />
    </workflowScriptTypes>
    <workflowTypes>
      <!-- 
      Constraints: 
          1) id and name attribute is unique. 
          2) id > 1024. Numbers below 1024 are reserved.
          3) titleResource is optional. if titleResource is not provided then the value specified in name will be used as WorkflowType.Title
          
      Example:
      <add id="1025" name="Project" titleResource="lblProjectWorkflowType" />
      -->
    </workflowTypes>
  </typeRegistry>
  <queuing>
    <queueConsumers>
      <clear />
      <add name="Publisher (rendering)" queueId="1" confId="1" port="1150" pollingInterval="30">
        <filter />
      </add>
      <add name="Publisher (deploying)" queueId="2" confId="1" port="1151" pollingInterval="30">
        <filter />
      </add>
      <add name="Search" queueId="3" confId="1" port="1152" pollingInterval="30">
        <filter />
      </add>
      <add name="Workflow Agent" queueId="4" confId="1" port="1153" pollingInterval="30">
        <filter />
      </add>
      <add name="Batch Processor" queueId="5" confId="1" port="1154" pollingInterval="30">
        <filter />
      </add>
    </queueConsumers>
  </queuing>
  <workflow startWorkflowOnRollback="false" workflowAgentAccountUri="tcm:0-3-65552" workflowAgentThreadsCount="1" workflowAgentScriptTimeout="60" heartbeatTimeout="300" />
  <tridion.contentmanager>
    <repository categoryEnumerationLimit="0" />
    <license licenseFilePath="license.xml" />
    <session transactionTimeout="60" />
  </tridion.contentmanager>
  <tridion.security credentialCacheExpiration="300" accessTokenExpiration="300"
    noHttpAuthenticationForUrls="((CoreService|ImportExportService)(\d{4}|\d{6})?\.svc/(streamUpload|wsHttp|wsFederationHttp|mex))|(TemplateBuilder)|(^/SDL)|(^/([^/]+\..+)?$)|(.*\/Themes)|(.*\/Xml\/?)(?!.*((ContactList-head\.xml)|(EclListItems\.xml)))|(.*\/backplaneHub)|(.*\/notificationHub)|(.*\/SiteEdit\/Views\/Bootstrap\/.*)|(ImportExportService/Client)" />
  <tridion.contentmanager.security allowReadDynamicContent="false" allowAutomaticUserCreation="true" hideOrganizationalItemsNoAccess="false">
    <impersonationUsers>
      <add name="NT AUTHORITY\NETWORK SERVICE" impersonationType="Windows" />	 
    </impersonationUsers>
  </tridion.contentmanager.security>
  <eventSystem maxThreadCount="1" threadTimeout="30" threadNamePrefix="EventSystem" />
  <extensions>
    <add assemblyFileName="C:\_references\cm-9.0\Tridion.ExternalContentLibrary.TcmExtension.dll"/>
   <!-- <add assemblyFileName="C:\Tridion\bin\Tridion.Web.UI.CME.TcmExtensions.dll" />
    <add assemblyFileName="C:\Tridion\bin\Tridion.SiteEdit.TcmExtensions.dll" />
    <add assemblyFileName="C:\Tridion\bin\Tridion.AudienceManagement.ContentManagerEvents.dll" />
    <add assemblyFileName="C:\Tridion\bin\Tridion.UGC.EventSystem.dll" />
    <add assemblyFileName="C:\Tridion\Translation Manager\Tridion.TranslationManager.TcmExtension.dll" /> 
    <add assemblyFileName="C:\Tridion\bin\Tridion.ExternalContentLibrary.TcmExtension.dll" />
    <add assemblyName="Tridion.Extensions.ContextExpressions, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b" /> -->
  </extensions>
  <binaryContentStorage temporaryFolder="C:\Tridion\temp" />
  <permanentContentStorage />
  <csharpSourceCodeReferences>
    <!-- Example of referencing assembly from the GAC.
    <add target="Templating, Workflow" assemblyName="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <add namespace="System.Drawing" />
    </add>
    -->
    <!-- Example of referencing assembly from the custom path.
    <add target="Workflow" assemblyFileName="D:\SDL Web\Extensions\WorkflowHelpers.dll">
      <add namespace="WorkflowHelpers" />
      <add namespace="WorkflowHelpers.Tridion" />
    </add>
    -->
    <add target="Workflow" assemblyName="Tridion.TranslationManager.V2.TmService.Client, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b">
      <add namespace="Tridion.TranslationManager.V2.TmService.Client" />
    </add>
    <add target="Workflow" assemblyName="Tridion.TranslationManager.V2.Data, Version=9.0.0.0, Culture=neutral, PublicKeyToken=ddfc895746e5ee6b">
      <add namespace="Tridion.TranslationManager.V2.Data" />
    </add>
  </csharpSourceCodeReferences>
  <system.net>
    <settings>
      <!--Set to true in order to get the exception details from the Search Service. When exception occurs inside solr, solr responses with multiple status line.
      To handle response with multiple status line this property should be set to true else we get a protocol violation exception
      More details: http://msdn.microsoft.com/en-us/library/system.net.configuration.httpwebrequestelement.useunsafeheaderparsing.aspx-->
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <!--Enable Server GC mode for better performance in CLR 4.0.-->
    <gcServer enabled="true" />
  </runtime>
  <ugc dataSourcePath="C:\Tridion\web\WebUI\Models\UGC\configuration\DataSources.xml" />
</configuration>