<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Tridion.Common" publicKeyToken="349a39f202fa9b53" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.1.0.150" newVersion="8.1.0.150"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Tridion.Common.Core" publicKeyToken="ddfc895746e5ee6b" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-8.1.0.150" newVersion="8.1.0.150"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>