<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=349a39f202fa9b53" />
  </configSections>
  <tridionConfigSections>
    <sections>
      <add filePath="C:\_references\cm-9.0\Tridion.ContentManager.config" />
    </sections>
  </tridionConfigSections>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.Common" publicKeyToken="349a39f202fa9b53" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.150" newVersion="8.1.0.150" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Common" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.1287" newVersion="8.1.0.1287" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>
