<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions">

    <resources cache="true">
        <cfg:extensiongroups>
            <cfg:extensiongroup name="DXA.CM.Extensions.DXAResolver.Models.Extension">
                <cfg:extension target="SDL.Web.UI.Models.Implementation">
                    <cfg:insertafter>DXA.CM.Extensions.DXAResolver.Models.Implementation</cfg:insertafter>
                </cfg:extension>
            </cfg:extensiongroup>
        </cfg:extensiongroups>

        <cfg:groups>
            <cfg:group name="DXA.CM.Extensions.DXAResolver.Models">
                <cfg:domainmodel name="DXA.CM.Extensions.DXAResolver.Models">
                    <cfg:itemtypes factory="DXA.CM.Extensions.DXAResolver.Models.Factory" idmatch="^dcr\:configuration$">
                        <cfg:itemtype id="dcr:configuration" alias="DCR_CONFIGURATION" name="" implementation="DXA.CM.Extensions.DXAResolver.Models.Configuration" />
                    </cfg:itemtypes>
                    <cfg:fileset>
                        <cfg:file type="script">/Client/Constants.js</cfg:file>
                        <cfg:file type="script">/Client/Factory.js</cfg:file>
                    </cfg:fileset>
                    <cfg:services>
                        <cfg:service type="wcf">/Services/Services.svc</cfg:service>
                    </cfg:services>
                    <cfg:caching />
                </cfg:domainmodel>
            </cfg:group>

            <cfg:group name="DXA.CM.Extensions.DXAResolver.Models.Implementation">
                <cfg:fileset>
                    <cfg:file type="script">/Client/Configuration.js</cfg:file>
                </cfg:fileset>
                <cfg:services />
                <cfg:dependencies>
                    <cfg:dependency>SDL.Web.UI.Models.TCM54.Implementation</cfg:dependency>
                    <cfg:dependency>DXA.CM.Extensions.DXAResolver.Models</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>
        </cfg:groups>
    </resources>

    <definitionfiles />

    <extensions>
        <ext:editorextensions />
        <ext:dataextenders />
        <ext:modelextensions />
        <ext:resourceextensions>
            <ext:resourceextension>DXA.CM.Extensions.DXAResolver.Models.Extension</ext:resourceextension>
        </ext:resourceextensions>
    </extensions>

    <commands />
    <contextmenus />

    <localization>

        <cfg:clientresource servertype="DXA.CM.Extensions.DXAResolver.Models.Resources.DXA.CM.Extensions.DXAResolver.Models.Strings, DXA.CM.Extensions.DXAResolver.Models" clientname="DXA.CM.Extensions.DXAResolver.Models.Strings" />
        <!--............................^_________Resources Designer namespace_______^.^__Resource class name(dots instead of dash)__^..^______Name of DLL in bin folder______^..............^______________Name of main file______________^ -->
    </localization>

    <settings>
        <customconfiguration/>
    </settings>

</Configuration>
