<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.OData.Client" version="6.15.0" targetFramework="net462" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net462" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net462" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="PostSharp" version="4.2.20" targetFramework="net462" />
  <package id="Tridion.TopologyManager.Client" version="8.6.0-beta-20171123144633" targetFramework="net462" requireReinstallation="true" />
</packages>